<html>
  <head>
    {% load static %}
    <title> FunBook</title>
    <link rel="shortcut icon" type="image/png" href="{% static "login/phi.png" %}"/>
    <link href="{% static "login/style.css" %}" rel="stylesheet">
    <link href="{% static "login/bootstrap/CSS/bootstrap.css" %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <a class="navbar-brand" href="#">φ FunBook</a>
          </a>
        </div>
      </div>
  </nav>
  <button type="button" class="btn btn-default">
    <a href="/socrates/pose/">Agregar Nueva Pregunta</button><br><br>
  <table class="table">
    <tr><th>Pregunta<th><th>Usuario</th><tr>
      {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
          <tr>
	    <td><a href="/socrates/{{ question.id }}/">{{ question.question_text }}</a></td>
	    <td>{{ question.owner }}</td>
	  </tr>
        {% endfor %}
        </ul>
      {% else %}
        <p>No polls are available.</p>
      {% endif %}
